<p id="notice"><%= notice %></p>

<p>
  <b>Order:</b>
  <%= @content.order_id %>
</p>

<p>
  <b>Ingredient:</b>
  <%= @content.ingredient_id %>
</p>


<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
