<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% @categories.each do |category| %>
    <div class="field">
      <%= category.name %>:
      <% unless category.name === 'Modifiers' %>
        <%= select_tag("order[contents_attributes][][ingredient_id]", options_for_select( category.ingredients.collect {|i| [ i.name, i.id ] }), class: 'required') %>
        <%=  %>
      <% else %>
        <% category.ingredients.each do |ingredient| %>
          <%= check_box_tag("order[contents_attributes][][ingredient_id]", ingredient.id) %> <%= ingredient.name %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit id: 'submit' %>
  </div>
<% end %>
