<p id="notice"><%= notice %></p>
<p>
  <b>Enjoy!</b>
  <% @bread_html = nil %> 
	<% @order.ingredients.each do |ingredient| %>
  	<div class="ingredients">
      <%= @image = image_tag("#{ingredient.name}.jpg", :width => 100) %>
    </div>
    <% if (ingredient.category_id == @bread.id) %>
    	<% @bread_html = @image %>
  	<% end %>
  <% end %>
  <div class="ingredients">
  	<%= @bread_html%>
  </div>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
